<h2>List of ratings</h2>

<p>Number of ratings: <%= @ratings.count %></p>

<ul>
  <% @ratings.each do |rating| %>
    <li> <%= rating.beer.name + " " + rating.score.to_s %>
      <%= link_to rating.user.username, user_path(rating.user.id) %>
    </li>
  <% end %>
</ul>

<%= link_to "Add new rating", new_rating_path %>