

<%= render @style %>

<div>
  <%= link_to "Edit this style", edit_style_path(@style) %> |
  <%= link_to "Back to styles", styles_path %>

  <div>
    <%= edit_and_destroy_buttons(@style) %>
  </div>

  <%#= button_to "Destroy this style", @style, method: :delete %>
</div>
