<h2>Breweries</h2>

<div id="breweries"></div>
<h2>Breweries</h2>

<table id="brewerytable" class="table table-hover">
  <thead>
  <tr>
    <th> <span id="name">Name</span> </th>
    <th> <span id="year">Year</span> </th>
    <th> <span id="beer-count">Num of beers</span> </th>
    <th> <span id="is-active">Active?</span> </th>
  </tr>
  <thead>
  <tbody>
  <div id="beerlist"></div>
  </tbody>
</table>